body{
    text-align: center;
}

.counter-app{
    display:flex;
    flex-direction: column;
}

.counter-app{
    border-radius: 15px;
    background-color:#ccc;
    opacity: 15;
    margin-right:450px;
    margin-left:450px;
    padding:15px;
    width: 450px;
    
}

.button-bar{
      text-align: center;
      border:3px gray;
}
.counter-value{
    text-align: center;
    font-weight: 250;
}
.input-form {
  padding:5px;
  margin:25px;
  border-radius: 35px;
  }

.input-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}


