.counter-app{
    display:flex;
    flex-direction: column;
}

.counter-app{
    border:3px solid green;
    padding:15px;
}

.button-bar{
      text-align: center;
      border:3px gray;
}
.counter-value{
    text-align: center;
    font-weight: 250;
}
.input-form {
  padding:5px;
  margin:25px;
  border-radius: 35px;
  }

.input-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

footer{
    text-align: center;
    font-size: 13px;
}

